* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTziMtZyBeBUGLXcWmdADK0IhXOgyRFDL0yIQ&s'); /* Caminho para a imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.timer-container {
    text-align: center;
    background-color: rgba(52, 152,)
}

h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.time-display {
    font-size: 48px;
    color: white;
    font-weight: bold;
}